.form-container-position
  .form-illustration-container
    = inline_svg 'undraw_departing_lsgy.svg', class: 'form-illustration'
    %h1 Suggest a holiday

  .form-position#new-holiday-form
    =render 'form', holiday: @holiday
