.form-container-position
  =image_tag("user_login_graphic.png")
  %h1 Create account

  .form-position
    =form_for @user do |f|
      =f.label :first_name
      =f.text_field :first_name,  :placeholder => "Cliff"

      =f.label :last_name
      =f.text_field :last_name, :placeholder => "Richard"

      =f.label :email
      =f.text_field :email, :placeholder => "cliff@richard.com"

      =f.label :password
      =f.text_field :password, :placeholder => "*******"

      =f.submit "Create account", :class => 'button-main button-signup-form'