$primary-color: #3525E6
$secondary-color: #8EEDC7
$neutral-color: #D9E2EC

h1 
  font-weight: bold
  font-size: 30px
  
a
  &:visited
    text-decoration: none

.button-main
  padding: 15px
  color: white
  background-color: $primary-color
  outline: none
  border-radius: 5px

  &:hover
    background-color: lighten($primary-color, 10%)

.button-secondary
  @extend .button-main
  background-color: $secondary-color
  color: white

  &:hover
    background-color: lighten($secondary-color, 10%)

.button-neutral
  @extend .button-main
  background-color: $neutral-color
  color: #243B53

  &:hover
    background-color: lighten($neutral-color, 5%)
  
.alert-error 
  background-color: red
  border-color: #eed3d7
  text-align: left

  p
    color: red
 
.alert-success 
    background-color: #dff0d8
    border-color: #d6e9c6
    color: #468847
    text-align: left

.hidden
  display: none