$primary-color: #5D38DB

h1 
  font-weight: lighter
  font-size: 30px
  
a
  &:visited
    text-decoration: none

.button-main
  padding: 15px
  radius: 2px
  color: white
  background-color: $primary-color
  outline: none

  &:hover
    background-color: lighten($primary-color, 10%)
  
.alert-error 
  background-color: #f2dede
  border-color: #eed3d7
  color: #b94a48
  text-align: left
 
.alert-success 
    background-color: #dff0d8
    border-color: #d6e9c6
    color: #468847
    text-align: left
 

