.holidays-container
  margin: 0 auto
  width: 60%

.holidays-container-header
  display: flex
  align-items: center
  justify-content: space-between

.holidays-table
  margin: 0 auto
  width: 90%
  padding: 50px

  tr 
    margin-bottom: 10px

  th, td
    text-align: left
    font-weight: lighter

  th
    font-size: 26px
    padding: 10px
  
  td 
    font-size: 20px
    padding: 5px
