.holidays-container
  margin: 0 auto
  width: 60%

.holidays-container-header
  display: flex
  align-items: center
  justify-content: space-between

.holidays-table
  margin: 0 auto
  width: 60%
  padding: 50px