.home-container-background
  .home-container-hero
    %h2 Say goodbye to spreadsheets 👋
    %h4 Suggest and vote for your favourite holidays so you and your friends can live a happy life.
    = button_to "Sign Up", signup_url, :method => :get, class: 'button-main button-hpheader-position'
    = link_to "Already signed up? Log in here", login_url
